@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

#subtitulo{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-weight: 300px;
}

#titulo {
  font-family: 'Montserrat';
  text-align: center;
  background-color: #5be9eb;
  padding: 10px;
  color: white;
  font-weight: 200px, bold;
  
}
ul{
  color: white;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 30px;
   margin: 20px 0px;


}

b {
  background-color:violet
}

#História {
  padding: 20px;
  font: 'Montserrat';
  text-align: center;
  color: white;
  font-size: 30px;
}

#corpo {
  background-image: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(img/beira-mar-Fortaleza.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#main {
  text-align: center;
}

#rodape {
text-align: center;
padding: 20px;

}
.icones{
  margin:20px;
  width:70px;
  height: 70px;
}